<section class="main-content add-video-page">
	<div class="form">
		<h1>Add new video</h1>
		<span>Title: </span>
		<input type="text" id="videoTitle" placeholder="Title..." required/>

		<span>Link: </span>
		<input type="url" id="videoLink" placeholder="Link..." required/>

		<span>Description: </span>
		<textarea type="text" id="videoDescription" placeholder="Description..."></textarea>
		<div class="clearfix"></div>
		<a class="submit" href="javascript:;" ng-click="addVideo()">Add</a>
		<div class="clearfix"></div>
	</div>
	<h3>Video is successfully added!</h3>
</section>