<section class="main-content video-page">
	<div style="position: relative;">
		<h1>
			{{Video.Title}} by 
			<a href="/#/user/{{Video.VideoAuthor.Id}}" title="{{Video.VideoAuthor.Name}}" class="user">
				{{Video.VideoAuthor.Name}} {{Video.VideoAuthor.LastName}}
			</a>
		</h1>
		<div class="message-box" ng-style="MessageStyle" ng-show="showMessageBox">
			<div class="inner">
				<object type="img/png">
					<img src="/images/blank.png" class="img-overlay" alt="" />
				</object>
				<div class="text">
					<h3>
						{{MessageBoxText}}
					</h3>
				</div>
			</div>
		</div> 
		<ng-player link="getUrl(Video.VideoLink)"></ng-player>
	</div>
	<p class="date">Video posted on {{getDate(Video.VideoDate)}}</p>
	<p class="description">{{Video.VideoDescription}}</p>
	<div class="comments">		
		<div class="left">
			<div class="new-comment" ng-follow-comment="Comments">
				<p>Leave a comment</p>
				<input type="checkbox" ng-click="takeVideoTime()" id="cbxTakeTime"/>
				<label for="cbxTakeTime">Bind comment with video</label>
				<span>Name: </span>
				<input type="text" id="commentName" placeholder="Name..." required/>

				<span>Comment: </span>
				<textarea type="text" id="commentText" placeholder="Comment..."></textarea>

				<a class="submit" href="javascript:;" ng-click="postComment()">Post</a>
			</div>
			<div class="fix"></div>
		</div>
		<div class="right">
			<div ng-repeat="comment in Comments" class="post">
				<h5>
					<span class="float-left">{{comment.NameOfAuthor}}</span> 
					<span class="float-right">{{getTimeAgo(comment.CommentDate)}}</span>
				</h5>
				<p class="description">
					<span ui-if="comment.VideoTime">
						<a href="javascript:;" ng-click="seekVideo(comment.VideoTime, comment.CommentText)">
							{{formatMovieDuration(comment.VideoTime, false, true, true)}}
						</a>
					</span>
					{{comment.CommentText}}
				</p>
			</div>
		</div>
	</div>
</section>